table {
    width: 100%;
    padding: 0;
    text-align: center;
}

th {
    border-bottom: 2px solid #ddd;
    padding: 0;
}

td {
    border-bottom: 2px solid #ddd;
    padding: 0;
}

th:nth-child(even),
td:nth-child(even) {
    border-left: 2px solid #ddd;
    padding: 0;
}